body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,input,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;}
body{font-family: "Micorsoft.YaHei", Helvetica, STHeiTi, Arial, sans-serif; font-size:12px; color:#000000;background: #fafafa}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:14px;}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#009999;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}